{%extends 'base.html'%}

{%block head%}
    <title>Weight Loss Calculator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <style>
        .alert {
            background-color: green;
            padding: 1rem;
            border-radius: 5px;
            color: white;
            margin: 1rem;
        }
    </style>
{%endblock%}

{%block body%}
    <div class="container">
        <h3>Weight Loss Calculator</h3>
    </div>

    <!-- Form -->
    <div class="container">
        <form action="/" method="POST">
            <label for="Current Weight">Current Weight</label>
            <input type="text" placeholder="Current Weight" class="u-full-width" name="weight"/>

            <label for="Current Bodyfat">Current Bodyfat %</label>
            <input type="text" placeholder="Current Bodyfat %" class="u-full-width" name="cbodyfat"/>

            <label for="Goal Bodyfat">Goal Bodyfat %</label>
            <input type="text" placeholder="Goal Bodyfat %" class="u-full-width" name="gbodyfat"/>

            <input type="submit" value="Calculate" id="calc_btn"/>
            <br/>
            <div class="alert">
                Current Lean Mass: {{clean_mass}}
            </div>
            <div class="alert">
                Goal Lean mass: {{glean_mass}}
            </div>
            <div class="alert">
                Goal Weight: {{goal_weight}}
            </div>
            <div class="alert">
                Weight Loss Caloric Intake: {{calories}}
            </div>
            <div class="alert">
                Weeks Until Goal: {{fast_tt6}} - {{slow_tt6}}
            </div>
        </form>
    </div>
    <div class="container">
        {% if weights|length < 1 %}
        {%else%}
        <table>
            <tr>
                <th>Weight</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            {%for weight in weights%}
                <tr>
                    <td>{{weight.weight}}</td>
                    <td>{{weight.date_created.date()}}</td>
                    <td>
                        <a href="/delete/{{weight.id}}">Delete</a>
                        <br>
                        <a href="/update/{{weight.id}}">Update</a>
                    </td>
                </tr>
            {%endfor%}
        </table>
        {%endif%}
    </div>
{%endblock%}